/* Font Face */
@font-face {
  font-family: "PlayfairDisplayRegular";
  src: url("/fonts/PlayfairDisplay/PlayfairDisplay-Regular.eot");
  src: url("/fonts/PlayfairDisplay/PlayfairDisplay-Regular.woff") format("woff"), url("/fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "PlayfairDisplayMedium";
  src: url("/fonts/PlayfairDisplay/PlayfairDisplay-Medium.eot");
  src: url("/fonts/PlayfairDisplay/PlayfairDisplay-Medium.woff") format("woff"), url("/fonts/PlayfairDisplay/PlayfairDisplay-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "PlayfairDisplayBold";
  src: url("/fonts/PlayfairDisplay/PlayfairDisplay-Bold.eot");
  src: url("/fonts/PlayfairDisplay/PlayfairDisplay-Bold.woff") format("woff"), url("/fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "LibreFranklinMedium";
  src: url("/fonts/LibreFranklin/LibreFranklin-Medium.eot");
  src: url("/fonts/LibreFranklin/LibreFranklin-Medium.woff") format("woff"), url("/fonts/LibreFranklin/LibreFranklin-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "RobotoLight";
  src: url("/fonts/Roboto/Roboto-Light.eot");
  src: url("/fonts/Roboto/Roboto-Light.woff2") format("woff2"), url("/fonts/Roboto/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "RobotoRegular";
  src: url("/fonts/Roboto/Roboto-Regular.eot");
  src: url("/fonts/Roboto/Roboto-Regular.woff2") format("woff2"), url("/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "RobotoMedium";
  src: url("/fonts/Roboto/Roboto-Medium.eot");
  src: url("/fonts/Roboto/Roboto-Medium.woff2") format("woff2"), url("/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "RobotoBold";
  src: url("/fonts/Roboto/Roboto-Bold.eot");
  src: url("/fonts/Roboto/Roboto-Bold.woff2") format("woff2"), url("/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}
/* Font Size */
.fs-16 {
  font-size: 16px;
}
.fs-24 {
  font-size: 24px;
}
.fs-32 {
  font-size: 32px;
}
.fs-40 {
  font-size: 40px;
}
.fs-56 {
  font-size: 56px;
}
/* Line Height */
.lh-1p2{
  line-height: 1.2;
}
.lh-1p5{
  line-height: 1.5;
}
.lh-1p8{
  line-height: 1.8;
}
.lh-20 {
  line-height: 20px;
}
.lh-24 {
  line-height: 24px;
}
.lh-32 {
  line-height: 32px;
}
.lh-40 {
  line-height: 40px;
}
.lh-56 {
  line-height: 56px;
}
/* Font Family */
.roboto-light {
  font-family: "RobotoLight";
}
.roboto-regular {
  font-family: "RobotoRegular";
}
.roboto-medium {
  font-family: "RobotoMedium";
}
.roboto-bold {
  font-family: "RobotoBold";
}
.pf-regular {
  font-family: "PlayfairDisplayRegular";
}
.pf-medium {
  font-family: "PlayfairDisplayMedium";
}
.pf-bold {
  font-family: "PlayfairDisplayBold";
}
/* Text Transform and Decoration */
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.underline {
  text-decoration: underline;
}
.break-word {
  word-break: break-all;
}
@media (max-width: 1400px) {
  .fs-16-xxl {
    font-size: 16px;
  }
  .fs-24-xxl {
    font-size: 24px;
  }
  .fs-32-xxl {
    font-size: 32px;
  }
  .fs-40-xxl {
    font-size: 40px;
  }
  .lh-1p2-xxl{
    line-height: 1.2;
  }
  .lh-1p5-xxl{
    line-height: 1.5;
  }
  .lh-1p8-xxl{
    line-height: 1.8;
  }
}
@media (max-width: 1200px) {
  .fs-16-xl {
    font-size: 16px;
  }
  .fs-24-xl {
    font-size: 24px;
  }
  .fs-32-xl {
    font-size: 32px;
  }
  .fs-40-xl {
    font-size: 40px;
  }
  .lh-1p2-xl{
    line-height: 1.2;
  }
  .lh-1p5-xl{
    line-height: 1.5;
  }
  .lh-1p8-xl{
    line-height: 1.8;
  }
}
@media (max-width: 992px) {
  .fs-16-lg {
    font-size: 16px;
  }
  .fs-24-lg {
    font-size: 24px;
  }
  .fs-32-lg {
    font-size: 32px;
  }
  .fs-40-lg {
    font-size: 40px;
  }
  .lh-1p2-lg{
    line-height: 1.2;
  }
  .lh-1p5-lg{
    line-height: 1.5;
  }
  .lh-1p8-lg{
    line-height: 1.8;
  }
}
@media (max-width: 768px) {
  .fs-16-md {
    font-size: 16px;
  }
  .fs-24-md {
    font-size: 24px;
  }
  .fs-32-md {
    font-size: 32px;
  }
  .fs-40-md {
    font-size: 40px;
  }
  .lh-1p2-md{
    line-height: 1.2;
  }
  .lh-1p5-md{
    line-height: 1.5;
  }
  .lh-1p8-md{
    line-height: 1.8;
  }
}
@media (max-width: 576px) {
  .fs-16-sm {
    font-size: 16px;
  }
  .fs-24-sm {
    font-size: 24px;
  }
  .fs-32-sm {
    font-size: 32px;
  }
  .fs-40-sm {
    font-size: 40px;
  }
  .lh-1p2-sm{
    line-height: 1.2;
  }
  .lh-1p5-sm{
    line-height: 1.5;
  }
  .lh-1p8-sm{
    line-height: 1.8;
  }
}