.bg-np {
  background-repeat: no-repeat !important;
}
.bg-cover {
  background-size: cover !important;
}
.bg-contain {
  background-size: contain !important;
}
.bg-cc {
  background-position: center center !important;
}
.bg-ct {
  background-position: center top !important;
}
.bg-lt {
  background-position: left top !important;
}
.bg-rt {
  background-position: right top !important;
}
.bg-cb {
  background-position: center bottom !important;
}
.bg-lb {
  background-position: left bottom !important;
}
.bg-rb {
  background-position: right bottom !important;
}
.position-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.image-contain {
  object-fit: contain;
}
.image-cover {
  object-fit: cover;
}
.op-1 {
  opacity: 1;
}
.op-02 {
  opacity: 0.2;
}
/* Width And Height */
.h-100percent {
  height: 100%;
}
.h-100vh {
  height: 100vh;
}
.w-120 {
  width: 120px;
}
.w-480 {
  width: 480px;
}
.w-720 {
  width: 720px;
}
.h-2 {
  height: 2px;
}
.h-210 {
  height: 210px;
}
.minw-200 {
  min-width: 200px;
}
.minw-280 {
  min-width: 280px;
}
.maxw-30 {
  max-width: 30px;
}
.maxw-100 {
  max-width: 100px;
}
.maxw-200 {
  max-width: 200px;
}
.maxw-400 {
  max-width: 400px;
}
.maxw-600 {
  max-width: 600px;
}
.maxw-800 {
  max-width: 800px;
}
.minh-100 {
  min-height: 100px;
}
.minh-200 {
  min-height: 200px;
}
.minh-300 {
  min-height: 300px;
}
@media (max-width: 1400px) {
  .w-100p-xxl{
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .w-100p-xl{
    width: 100%;
  }
}
@media (max-width: 992px) {
  .w-100p-lg{
    width: 100%;
  }
}
@media (max-width: 768px) {
  .w-100p-md{
    width: 100%;
  }
}
@media (max-width: 576px) {
  .w-100p-sm{
    width: 100%;
  }
}